*{box-sizing:border-box}
body {
	font-size: 14px;
	color:#333333;
	line-height: 21px;
	font-family: "PT Sans", sans-serif;
	text-transform: uppercase;
	box-shadow: 0 0 15px 0px rgba(0,0,0,0.2);
	margin:0 auto;
	max-width: 1200px;
	min-width: 768px;
}
.nav,
.index-content-search {
	font-size:14px;
	font-weight: bold;
}

h3 {
	font-size:21px;
	font-weight: bold;
}
h2{
	font-size:30px;
	font-weight: bold;
}
.causes-item-text{
	color:white;
}
.container {
	width: 100%;
	margin:0 auto;
	max-width: 1200px;
	min-width: 768px;
}
.clearfix::after {
	content: "";
	display:table;
	clear: both;
}
.nav a {
    text-decoration: none;
    display: block;
    padding:14px 73px;
	color:black;
}
.nav ul {
    padding:0;
    margin: 0;
    list-style:none;
    font-size: 0;
}
.nav li {
    display: inline-block;
    vertical-align: top;
    font-size:14px;
    width: 20%;
    line-height:26px;
}
.nav a:hover {
    color: #81b3d2;
}
.nav a:active {
	color: rgba(0,0,0,0.3);
}
.nav .active a {
	color:#766357;
}
.nav .active a:hover {
	color:#604e43;
}
.nav .active a:active {
	color: rgba(118,99,87,0.3)
}
ul .nav-width{
    width: 40%;
}
.main-header img {
    position:absolute;
    top:0;
    left:50%;
    display: block;
    margin-left:-70px;
}
.index-logo {
	width: 100%;
	height: 510px;
	margin-bottom: 55px;
	background: url(../img/introtext.png)50% 50% no-repeat,
	url(../img/introwhite.png) 0 100% no-repeat,
  url(../img/backgroundintro.jpg) 0 0 no-repeat;
}
.causes h1 {
    line-height: 26px;
    text-align: center;
    padding: 0px 300px;
    padding-bottom: 25px;
    font-size: 21px;
}
.causes-text {
    line-height: 26px;
    font-size: 14px;
    padding-bottom:50px;
    text-align: center;
    display: block;
}
.causes-item-text {
	float:left;
	width: 33%;
	height: 255px;
	background-color: #81b3d2;
    text-align: center;
}
.causes-item-text h3 {
    padding: 0 120px;
    margin-top: 50px;
    line-height: 21px;
    font-size: 21px;
}
.causes-item-text p {
    padding: 0 60px;
}
.causes-item-text:nth-child(2) p {
    padding: 0 90px;
}
.causes-item-image img {
	width: 67%;
	height: 255px;
	float:left;
}
.causes-item {
	width: 33%;
	float: left;
	height: 240px;
	margin-bottom: 74px;
    text-align: center;
    line-height: 21px;
}
.causes-item h3 {
    padding:0 160px;
    margin-top:155px;
    position: relative;
}
.causes-home p,
.causes-burger p,
.causes-souvenirs p{
    padding: 0 50px;
}

.causes-home h3::after {
    content: " ";
    display: block;
    background:url(../img/homeicon.png) no-repeat;
    position: absolute;
    width: 75px;
    height: 75px;
    top:-105px;
    left:50%;
    margin-left: -37px;
}
.causes-burger h3::after {
    content: " ";
    display: block;
    background:url(../img/eaticon.png) no-repeat;
    width: 75px;
    height: 75px;
    position: absolute;
    top:-105px;
    left:50%;
    margin-left: -39px;
}
.causes-souvenirs h3::after {
    content: " ";
    display: block;
    background:url(../img/prizeicon.png) no-repeat;
    position: absolute;
    width: 64px;
    height: 76px;
    position: absolute;
    top:-105px;
    left:50%;
    margin-left: -24px;
}
.causes-item-bottom {
    background-color:#eeeeee;
    width: 33%;
	float: left;
	height: 240px;
    text-align: center;
    line-height: 21px;
    height: 256px;
}
.causes-item-bottom h3{
    padding: 0 140px;
    margin-top: 50px;
}
.causes-item-bottom p{
    padding: 0 68px;
}
.causes-souvenirs,
.causes-drive{
	width: 34%;
}
.index-content  {
    text-align: center;
    margin-top: 48px;
}
.content-search-open {
    height: 86px;
    display: block;
    background:#766357;
    color:white;
    width: 100%;
    font-size: 21px;
    line-height: 26px;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    vertical-align: top;
    border: 0px;
}
.index-content label {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    display: inline-block;
    float: left;
    padding-left: 60px;
}
.date {
    background-color: #f2f2f2;
    outline: none;
    border: none;
    font: inherit;
    color: inherit;
    text-transform: inherit;
    width: 317px;
    height: 37px;
    margin-bottom: 30px;
    padding-left:10px;
}
.date-open {
    margin-top: 55px;
    margin-left: 20px;
}
.date-exit {
    margin-left: 17px;
}
.adults input,
.children input{
    background-color: #f2f2f2;
    outline: none;
    border: none;
    font: inherit;
    color: inherit;
    text-transform: inherit;
    width: 35px;
    height: 37px;
    margin-bottom: 60px;
    text-align: center;
    vertical-align: top;
    padding: 0;

}
.appointment-form input:hover {
	background-color:#ebebeb;
}
.appointment-form input:focus {
	border:2px solid #e5e5e5;
	background-color: white;
}
.icon-calendar:hover {
	color:black;
	background-color:#ebebeb;
}
.icon-calendar:active{
	color:#81b3d2;
}
.icon-minus:hover ,
.icon-plus:hover {
	color:black;
}
.icon-minus:active ,
.icon-plus:active {
	color:#81b3d2;
}
.btn {
    background-color: #f2f2f2;
    outline: none;
    border: none;
    font-size: 14px;
	font-weight: bold;
    color: #a9a9a9;
    line-height: 26px;
    width: 35px;
    height: 37px;
    margin: 0 -4px;
	vertical-align: center;

}
.adults .icon-minus {
    margin-left:33px;
}
.children .icon-minus {
    margin-left: 13px;
}
.btn-search {
    width: 90%;
    background: #81b3d2;
    color:white;
    border: 0px;
    height: 58px;
    text-align: center;
    vertical-align: top;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
}
.btn-search:hover {
	background-color: #669ec0;
}
.btn-search:active {
	background-color: #81b3d2;
	color:rgba(255,255,255,0.3)
}
.index-content-search {
	margin-right: auto;
	margin-left: auto;
	width: 570px;
	margin-top: 50px;
}
.appointment-form {
    display: inline-block;
    position: absolute;
    background: white;
    width: 570px;
    height: 400px;
    right:50%;
    margin-right: -285px;
    z-index: 10;
}
.icon-calendar {
	height: 37px;
	padding-top: 5px;
	display:inline-block;
}
.footer-maps {
    background: url(../img/map.jpg)no-repeat;
    height: 590px;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.footer-heshtag,
.footer-social,
.footer-copyright {
    position: relative;
	float:left;
	width: 33%;
	height: 120px;
	text-align: center;
	padding-top: 41px;
	bottom: -470px;
	background-color: white;
	opacity: 0.9;
}
.footer-copyright {
	float: right;
	width:34%;
}
.social-btn {
    display: inline-block;
    background-color:#81b3d2;
    width: 46px;
    height: 46px;
    position: relative;
    color: white;
    opacity: 0.9;
    top:-10px;
    padding-top: 10px;
}
.social-btn span {
    font-size: 21px;
    line-height: 20px;
}
.social-btn:hover {
	background-color: #669ec0;
}
.social-btn:active {
	background-color: #5496bd;
	color:rgba(255,255,255,0.3);
}
.footer-heshtag{
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
}
.footer-copyright a {
    font-size: 14px;
    color:black;
    text-decoration: none;
    background: white;
    margin-bottom:50px;
}
.footer-copyright a img {
    position: relative;
    right:-10px;
    top:0px;
}
.footer-copyright a img:hover {
	opacity: 0.3;
}
/*стиль второй страница */

.filter {
	font-size:14px;
	color: white;
	line-height: 21px;
	padding: 0;
	margin: 0;
	min-height: 217px;
	background: url(../img/background.jpg)no-repeat;
}
.filter h3 {
	font-size: 16px;
	line-height: 21px;
}
input[type="checkbox"]{
	display: none;
}
input[type="checkbox"]+label {
	display: block;
	margin: 30px 0;
	line-height: 20px;
	padding-left: 40px;
	position: relative;
	cursor: pointer;
}
input[type="checkbox"]+label::before {
	content: "\2610";
	position: absolute;
	top: 0;
	left: 0;
	font-size: 26px;
	line-height: 20px;
	font-family: "symbols-sedona";
}
input[type="checkbox"]+label:hover::before {
	color:#fefefe;
}
input[type="checkbox"]+label:active::before {
	color:#6a6a6a;
}
input[type="checkbox"]:checked+label::before {
	content: "\2611";
	position: absolute;
	top: 0;
	left: 0;
	font-size: 26px;
	line-height: 20px;
	font-family: "symbols-sedona";
}
input[type="checkbox"]:checked+label:hover::before {
	color:#fefefe;
}
input[type="checkbox"]:checked+label:active::before {
	color:#6a6a6a;
}
.filter-form-infastructure {
	width: 25%;
	display: block;
	height: 217px;
	float: left;
	padding-left:73px;
}
.filter-form-typehome {
	width: 25%;
	display: block;
	height: 217px;
	float: left;
	padding-left: 30px;
}
.filter-range {
	padding-left: 150px;
	float: left;
}
.price-controls {
	height: 36px;
	margin-bottom: 20px;
	border: 2px solid #ffffff;
	border-radius: 2px;
	width: 330px;
	font-size: 0;
	position: relative;
}
.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  vertical-align: top;
  cursor: pointer;
	padding-top: 5px;
}
.price-controls .min-price,
.price-controls .max-price {
  width: 161px;
  padding-left: 55px;
}
.price-controls input {
  width: 70px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border:none;
  outline: none;
}
.price-controls::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  top:50%;
	left: 50%;
  background: #ffffff;
	transform: translate(-50%, -50%);
}
.range-controls {
  position: relative;

  margin-bottom: 32px;
}
.range-controls .scale {
  height: 2px;
	width: 330px;
  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}
.range-toggle {
	position: absolute;
	top: -7px;
  width: 4px;
  height: 4px;
  border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}
.range-toggle::after{
	content: "";
	position: absolute;
	width: 4px;
	height: 4px;
	background: #ababab;
	border-radius: 50%;
	right: -2px;
	bottom: -2px;
}
.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}
.range-toggle:hover::after {
  background: #1c4f80;
}
.btn-transparent {
	display: block;
	margin: 0 auto;
	padding: 6px 35px;

	font-size: 14px;
	line-height: 20px;
	color:#ffffff;
	text-transform: uppercase;
	background: transparent;
	border:2px solid #ffffff;
	border-radius: 2px;
	outline: none;
	cursor: pointer;
}
.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}
	.sorting {
	height: 85px;
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
	display: inline-block;
}
.sorting h2 {
	font-size: 21px;
	line-height: 26px;
	float: left;
	padding-left: 73px;
	padding-top: 15px;
}
.sorting b {
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	float: left;
	margin-left: 50px;
	margin-top: 38px;
}
.sorting ul {
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0;
}
.sorting li  {
	display: inline-block;
	text-decoration: none;
	font-size:12px;
	vertical-align: top;
	text-align: center;
	margin-left: 30px;
	margin-top: 38px;
}
.sorting li a {
	text-decoration: none;
	color:rgba(0,0,0,0.3);
	border-bottom:1px dotted #81b3d2;
}
.sorting .active a{
	color:#81b3d2;
	border: none;
}
.sorting li a:hover {
	color:#81b3d2;
}
.sorting li a:active {
	color:#000000;
	border:none;
}
.sorting .arrows {
	display: inline-block;
	position: relative;
	font-size: 23px;
	line-height: 20px;
	float: right;
	right: 73px;
	bottom: 23px;
	font-family: "symbols-sedona";
	color:#cccccc;
}
.sorting .arrows:hover {
	color:#000;
}
.sorting .arrows:active {
	color:#81b3d2;
}
.sorting .active  {
	color:#81b3d2;
}
.hotel {
	height: 450px;
	width: 100%;
}
.hotel-all {
	width: 100%;
	float: left;
	height: 150px;
	border-bottom: 1px solid #e5e5e5;
}
.hotel-all h3 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	margin-bottom: 20px;
}
.hotel-all h3:hover{
	color:#81b3d2;
}
.hotel-all h3:active {
	color:rgba(0,0,0,0.3);
}
.hotel-all img {
	float:left;
	margin-left: 73px;
	margin-top: 30px;
}
.hotel-type {
	float: left;
	font-size: 14px;
	line-height: 21px;
	color:#333333;
	margin-right: 40px;
	margin-top: -36px;
}
.hotel-price {
	float: left;
	font-size: 14px;
	line-height: 21px;
	color:#333333;
	margin-top: -36px;
	margin-left: -25px;
}
.btn-about {
	display: block;
	border: none;
	text-align: center;
	text-decoration: none;
	width: 110px;
	height: 30px;
	background:#81b3d2;
	color:#fff;
	font-size: 14px;
	line-height: 21px;
	padding-top: 5px;
	margin-left: 1px;
}
.btn-about:hover {
	background-color:#669ec0;
}
.btn-about:active {
	background-color: #5496bd;
	color:rgba(255,255,255,0.3);
}
.btn-book {
	display: block;
	border: none;
	text-align: center;
	text-decoration: none;
	width: 140px;
	height: 30px;
	background:#766357;
	color:#fff;
	font-size: 14px;
	line-height: 21px;
	padding-top: 5px;
}
.btn-book:hover {
	background-color: #604e43;
}
.btn-book:active {
	color:rgba(255,255,255,0.3);
	background-color: #503e33;
}
.icon-star {
	color:#81b3d2;
	font-size: 19px;
	line-height: 21px;
	display: inline-block;
	float: right;
	margin-top: 30px;
}
.hotel-rating {
	display:inline-block;
	width: 110px;
	height: 30px;
	font-size: 14px;
	line-height: 21px;
	color: #666666;
	background-color: #f2f2f2;
	text-align: center;
	padding-top: 5px;
	position: relative;
	left: 215px;
	top:94px;
}
.hotel-amara-left {
	float: left;
	width: 530px;
	height: 150px;
	display: inline-block;
	margin-left: 28px;
	margin-top: 10px;
}
.hotel-amara-right {
	float: right;
	width: 330px;
	height: 150px;
	margin-right: 73px;
}
.hotel-desert-left {
	float: left;
	width: 530px;
	height: 150px;
	display: inline-block;
	margin-left: 28px;
	margin-top: 10px;
}
.hotel-desert-right {
	float: right;
	width: 330px;
	height: 150px;
	margin-right: 73px;
}
.hotel-villas-left {
	float: left;
	width: 530px;
	height: 150px;
	display: inline-block;
	margin-left: 28px;
	margin-top: 10px;
}
.hotel-villas-right {
	float: right;
	width: 330px;
	height: 150px;
	margin-right: 73px;
}

.main-footer-hotels .footer-heshtag,
.main-footer-hotels .footer-social,
.main-footer-hotels .footer-copyright {
    position: relative;
	float:left;
	width: 33%;
	height: 120px;
	text-align: center;
	padding-top: 41px;
    bottom:0px;
    background-color: white;
    opacity: 0.9;
}
.main-footer-hotels .footer-copyright {
<<<<<<< HEAD
	width: 34%;
}
=======
float: right;
width: 34%;
}
>>>>>>> origin/master
